:root {
    --warmColor: #e63946;
    --lightBlue: #a8dadc;
    --darkBlue: #1d3557;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: catamaran, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    border: solid thin black;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url(./Images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg) no-repeat center center/ cover;
}

nav {
    padding: 0.5rem;
    background-color: var(--warmColor);
    color: white;
    width: 75%;
    display: flex;
    justify-content: space-between;
    border: solid thin black;
}

nav a {
    text-decoration: none;
    color:white;
}

button {
    background-color: var(--darkBlue);
    padding: 0.5rem 2rem;
    margin: 1rem;
    color:white;
    font-size: 1.2rem;
    border-radius: 5px;
}

button:hover {
    transform:scale(1.05);
    background-color: var(--lightBlue);
    color:var(--darkBlue)
}

main {
    background-color: white;
    border: black solid thin;
    text-align: center;
    min-height: 75%;
    width: 75%;
    line-height: 2rem;
    padding: 35px;
}

main h1 {
    padding: 2rem;
}

footer {
    background-color: var(--warmColor);
    width: 75%;
    text-align: center;
    color: white;
    padding: 0.5rem;
    border: solid thin black;
}

.wrong-message,
.correct-message {
    display: none;
    font-style: italic;
    color:var(--darkBlue);
    text-align:left;
} 

.listAnswersEl {
    display: flex;
    flex-direction: column;

}

#answerAEl, #answerBEl, #answerCEl, #answerDEl, .save-info {
    display: none;
}

textarea {
    padding: 5px 0;
    border: thin solid silver;
    width: 120px;
    height: 30px;
    resize:none;
    text-align: center;
}

textarea:focus {
    border: 3px solid silver;   
}


  